img {
    float: left;
  }
h1 {
    float: left;
}

p , h2 ,h3 ,h4 {
    float: left;
    text-align: stretch;
    clear: both;
}
ol {
    float: left;
    clear: left;
    text-align: start;
    border: 3px solid black;
    width: 350px;
    height: 70px;
}
ul {
    float: left;
    clear: left;
    text-align: start;
    border: 3px solid black;
    width: 350px;
    height: 70px;
}